/* @font-face{
    src: url(../../fonts/Licorice-Regular.ttf);
    font-family: font-dep;
} */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
html, body{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}
.container{
    max-width: 1280px;
    margin: auto;
    padding: 0 15px;
}
.header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
}
.navbar-toggler{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    display: none;
}
.header__logo .logo{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
}
.header .navbar a{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navbar a.active,
.header .navbar a:hover{
    color: #e62b4a;
}
.carousel__main p{
    font-size: 25px;
    color: #fff;
    font-weight: 300;
}
.carousel__main h1{
    font-size: 75px;
    color: #fff;
    line-height: 90px;
   
}
.carousel__main a{
    text-decoration: none;
    background-color: #e62b4a;
    color: #fff;
    font-size: 16px;
    padding: 15px 25px;
    border: 1px solid #e62b4a;
    margin-top: 20px;
    text-transform: uppercase;
    display: inline-block;
    border: none;
}
.carousel__main a:hover{
    background-color: #af2239;
    
}
.carousel__main i{
    font-size: 40px;
    margin-top: 50px;
    display: block;
    animation: bounce ease 1.5s infinite 0s;
    color: #fff;
}
.carousel{
    background: url(../img/home_slider.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
.service{
    background-color: black;
    padding: 90px 0;
    text-align: center;
}
.service__header{
    text-align: center;

}
.service p.active{
    color: #e62b4a;
}
.service p{
    font-size: 14px;
    font-weight: 400;
}
.service__header h1{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}
.service .text{
    color: #888;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service__main{

}
.service__list{
    display: flex;
}
.service__item{
    width: 20%;
    padding: 0 15px;
}
.service__content::after{
    content: "";
    width: 4px;
    height: 0;
    background-color: #e62b4a;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease;
}
.service__content{
    height: 230px;
    background-color: #fff;
    color: #848482;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.service__content i{
    font-size: 50px;
}
.service__content:hover::after{
    height: 100%;
}
.service__item h1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
.portfolio{
    padding: 100px 0;
}
.portfolio__header{
    text-align: center;
}
.portfolio__list{
    display: flex;
    flex-wrap: wrap;
}
.portfolio__header span,
.post__sub-heading{
    color: #888;
    font-size: 14px;
}
.portfolio__header p,
.post__detail{
    font-size: 16px;
    color: #888;
    font-weight: 600;
    margin-bottom: 40px;
}
.portfolio__header h1,
.post__main-heading{
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0;
}
.portfolio__item{
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 10px;
}
.portfolio__content img{
    width: 100%;
    display: block;
    filter: grayscale(100%) contrast(50%);
}
.portfolio__content{
    position: relative;
    overflow: hidden;
}
.portfolio__info{
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 106%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    display: flex;
    transition: all 0.5s;
} 
.portfolio__control{
    text-align: right;
    
}
.portfolio__control i{
    background-color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}
.portfolio__control i:hover{
    background-color: #000;
    color: #fff;
}
.portfolio__detail{
    margin-bottom: 20px;
}
.portfolio__detail p{
    color: #d0c7c8;
}
.portfolio__detail h1{
    color: #fff
}
.portfolio__item .portfolio__info{
    opacity: 0;
    visibility: hidden;
    transform: translateY(5%);
}
.portfolio__item .portfolio__content:hover .portfolio__info{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.post{
    padding: 100px 0;
    background-color: #f3f3f3;
}
.post__header{
    text-align: center;
 }
.post__main .list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 }
.post__img{
    width: 100%;
    display: block;
    filter: grayscale(30%) contrast(50%);
    transition: all .5s;
    height: 100%;
}
.post__img:hover{
    filter: inherit;
}
.statistic{
    background-color: #000;
    padding: 100px 0;
}
.statistic__content{
    color: #fff;
    text-align: center;
    font-size: 30px;

}
.statistic__list{
    display: flex;
    justify-content: space-between;
}
.statistic__item{
    width: 25%;
}
.statistic__detail{
    color: #888;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
.statistic__number{
    font-weight: 300;
    font-size: 60px;
    
}
.item-1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.item-10{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}
.experience{
    background: url(../img/bussiness_img_1.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
}
.experience__video{
    width: 100%;
}
.experience__header{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}
.experience__sub-heading{
    font-size: 14px;
    color: #e62b4a;
    font-weight: 300;
}
.experience__heading{
    font-size: 50px;
    font-weight: 400;
}
.experience__detail{
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}
.contact{
    padding: 100px 0;
}
.contact__header{
    text-align: center;

}
.contact__main-header{
    font-size: 50px;
    font-weight: 400;
}
.contact__main .container{
    display: flex;
    flex-direction: row;
    
}
.contact__detail{
    font-weight: 400;
    font-size: 16px;
    color: #888;
    margin:30px 0;
}
.contact__main iframe{
    width: 60%;
    height: 500px;
}
.contact__form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}
.contact__form *{
    width: 100%;
    padding: 15px;
}
.contact__form input{
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    border-radius: 2px;
}
.contact__form textarea{
    font-size: 15px;
    padding: 1em;
    border: 1px solid #888888;
    border-radius: 2px;
    margin-bottom: 20px;
}
.contact__form button{
    letter-spacing: 3px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
}
.footer{
    background-color: #000;
    padding: 100px 0;
}
.footer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item{
    width: 50%;
}
.footer__content h1{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.footer__content a{
    width: 54px;
    height: 54px;
    display: inline-block;
    border-radius: 50%;
    line-height: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
    transition: all .5s;

}
.right{
    text-align: right;
}
.footer__content a:hover{
    background-color: #e62b4a;
}
.back-to-top{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
    background: rgba(0,0,0,0.25);
    font-weight: bold;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}

@keyframes bounce{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
 
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}

/* Small device: ĐT ngang */
@media screen and (max-width: 768px){
    .navbar-toggler,
    .contact__main .container{
        display: block;
    }
    .navbar{
        display: none;
    }
    
    .service__list{
        flex-wrap: wrap;
    }
    .service__item{
        width: 50%;
        margin-bottom: 30px;
    }
    .service__item:last-child{
        display: none;
    }
    .portfolio__item{
        width: 50%;
    }
    .post__main .list {
        grid-template-columns: 1fr 1fr;
    }
    .item-1,
    .item-10{
        grid-column: initial;
        grid-row: initial;
    }
    .contact__main iframe,
    .contact__form{
        width: 100%;
    }
    .statistic__list{
        display: block;
        text-align: center;
    }
    .statistic__item{
        width: 100%;
    }
}


/* ĐT dọc */
@media screen and (max-width: 576px){
    .navbar{
        display: none;
    }
    .statistic__list{
        display: block;
    }
    .service__item{
        width: 100%;
        margin-bottom: 30px;
    }

    .portfolio__item{
        width: 100%;
    }
    .post__main .list,
    .portfolio__list,
    .service__list,
    .navbar-toggler
    {
        display: block;
    }
    .footer__list{
        display: block;

    }
    .footer{
        padding: 50px 0;
    }
    .footer__item{
        width: 100%;
        margin: 30px 0;
    }
    .right{
        text-align: inherit;
    }
    .footer__list{
        text-align: center;
    }
    .back-to-top{
        display: none;
    }
    .statistic__item{
        width: 100%;
    }
    
       
    
}


/* medium device: tablet */
@media screen and (max-width: 992px){
    
}


/* Large device: tablet bự */
@media screen and (max-width: 1200px){
   
}

